.App {
  padding: 30px;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 3px solid #8edff7;
  border-radius: 10px;
  padding: 20px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.todolists-wrapper {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}