
.App {
  padding: 30px;
  display: flex;
  background-color: beige;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.todolist {
  background-color: darkseagreen;
  padding: 15px;
  border-radius: 5px;
  min-height: 300px;
}

